---
layout: layout.liquid
title: Profile Page
---
<div class="topleft">
    <div class="titlecard">
        <img id="profilepic" src="/images/me.jpg" alt="profile picture">
        <div class="title">
            <h1>Benjamin Crimmins</h1>
            <h2>Software Engineer</h2>
        </div>
    </div>
    <div class="history">
        <div class="experience">
            <img id="rocketlogo" src="/images/rocket.png" alt="Rocket Mortgage logo">
            <div class="title">
                <h3>Rocket Mortgage</h3>
                <h4>Software Engineer Intern</h4>
            </div>
        </div>
        <div class="experience">
            <img id="spartanlogo" src="/images/spartan.png" alt="MSU logo">
            <div class="title">
                <h3>Michigan State University</h3>
                <h4>Computer Science B.S.</h4>
            </div>
        </div>
    </div>
</div>
<div class="biography">
    <p>I'm currently a third year computer science student in the College of Engineering at Michigan State University. I'm always looking to learn new things in the world of computer science. At present I'm interested in computer graphics and how visuals are rendered on a screen.</p>
    <p>When I'm not busy doing homework for my classes, you can find me collaborating with my teammates on the MSU STARX team... and when I'm not busy with STARX you can find me playing games on my PC. I have a blog I update every now and then with my favorite games and my reviews of them.</p> 
    <p>This summer I'll be returning to Rocket Mortgage for my second term as a Software Engineer Intern.</p>
</div>
<div class="stats">
    <div class="commits">
        <img src="/images/Pencil.png" alt="pencil graphic">
        <h2>Commits: 1k</h2>
    </div>
    <div class="pullrequests">
        <img src="/images/Check.png" alt="check graphic">
        <h2>Pull Requests: 202</h2>
    </div>
    <div class="skills">
        <img src="/images/Arm.png" alt="arm graphic">
        <h2>Skills: C++, OpenGL, JavaScript, HTML, CSS</h2>
    </div>
</div>
<div class="designs">
    <h1>Designs and Sites</h1>
    <div class="thumbnails">
        <a class="link" href=""></a>
        <a class="link" href=""></a>
        <a class="link" href=""></a>
        <a class="link" href=""></a>
        <a class="link" href=""></a>
        <a class="link" href=""></a>
    </div>
</div>